{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
   "rules": {
      "array-bracket-spacing": [ "error", "always" ],
      "brace-style": "off",
      "complexity": "off",
      "computed-property-spacing": "off",
      "indent": [ "error", 3 ],
      "key-spacing": [ "error", { "mode": "minimum" } ],
      "lines-between-class-members": [ "error", "always", { "exceptAfterSingleLine": true } ],
      "max-depth": "off",
      "max-params": "off",
      "no-control-regex": "off",
      "no-else-return": "off",
      "no-multiple-empty-lines": "off",
      "no-unreachable": "error",
      "no-warning-comments": [ "error", { "terms": [ "~~~", "&&&", "XXX", "TODO", "FIXME" ] } ],
      "no-whitespace-before-property": "off",
      "object-curly-spacing": [ "error", "always" ],
      "operator-linebreak": "off",
      "semi": [ "error", "always" ],
      "space-before-function-paren": [ "error", {
         "anonymous": "never",
         "asyncArrow": "always",
         "named": "never"
      }],
      "space-in-parens": "off",
      "template-curly-spacing": "off",
      "unicorn/better-regex": "off",
      "unicorn/catch-error-name": [ "error", { "name": "e" } ],
      "unicorn/explicit-length-check": "off",
      "unicorn/no-useless-undefined": "off",
      "unicorn/prefer-ternary": "off",
      "unicorn/prevent-abbreviations": "off",
      "@typescript-eslint/explicit-function-return-type": "error",
      "@typescript-eslint/member-delimiter-style": [
         "error",
         {
            "singleline": { "delimiter": "comma", "requireLast": false },
            "multiline": { "delimiter": "comma", "requireLast": true }
         }
      ]
   }
}
